<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Wikipedia Image Data Colecting Tool</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!--<script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>-->
  <script src="/assets/Wiki.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/style.css">

</head>
<h1>Wikipedia Image Data Colecting Tool</h1>

<body>
  <div id="textbar">
    <form method='post'>
      <input type="text" name="item" placeholder="Enter Keyword" required />
      <button type="submit">Run</button>
      <!-- Add drop down bar with suggestions -->
    </form>

  </div>
</body>
</html>
